@import 'lib/css/bourbon/bourbon';

#value-text {
  float: left;
  background: url('value_logo.png');
  width: 70px;
  height: 30px;
  margin-left: -100px;
  position: relative;
  z-index: 1000;
}

#payment-button, .gmail-button {
  @include linear-gradient(#F5F5F5, #F1F1F1);
  @include border-radius(3px);
  border: 1px solid rgba(0,0,0,0.1);
  color: #444;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 15px;
  height: 27px;
  line-height: 27px;
  padding: 0 8px;
  display: inline-block;
  position: relative;

  input {
    float: right;
    width: 30px;
    margin: -1px -1px 0 5px;
    padding: 6px 6px 7px 6px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    @include border-radius(3px);
    @include transition(border-color 0.1s linear);

    &:focus {
      border-color: rgba(0,0,0,0.3);
    }
  }
}

#payment-button {
  padding: 0 0 0 8px;
}

#collect-payment-button {
  @include transition(background-color 0.2s ease-in-out, 
                      background-image 0.2s ease-in-out);
  cursor: pointer;
  &.completed {
    cursor: auto;
    transition: color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out;
  }
  &.completed-start {
    color: whiteSmoke;
    background-color: whiteSmoke;
  }
  &.completed-end {
    color: white;
    background-color: #6cb87e;
  }
}

/* Table magic */
.fake-email {
  position: absolute;
  -webkit-transition: top 1.5s ease-in-out;
  -moz-transition: top 1.5s ease-in-out;
  -ms-transition: top 1.5s ease-in-out;
  -o-transition: top 1.5s ease-in-out;
  transition: top 1.5s ease-in-out;
}
