@import 'lib/css/bourbon/bourbon';



#payment-button {
  @include linear-gradient(#F5F5F5, #F1F1F1);
  @include border-radius(3px);
  border: 1px solid rgba(0,0,0,0.1);
  color: #444;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 15px;
  height: 27px;
  line-height: 27px;
  padding: 0 0 0 8px;
  display: inline-block;
  position: relative;

  input {
    float: right;
    width: 30px;
    margin: -1px -1px 0 5px;
    padding: 6px 6px 7px 6px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    @include border-radius(3px);
    @include transition(border-color 0.1s linear);

    &:focus {
      border-color: rgba(0,0,0,0.3);
    }
  }
}

/* Table magic */
.fake-email {
  position: absolute;
  -webkit-transition: top 1.5s ease-in-out;
  -moz-transition: top 1.5s ease-in-out;
  -ms-transition: top 1.5s ease-in-out;
  -o-transition: top 1.5s ease-in-out;
  transition: top 1.5s ease-in-out;
}
