<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="static/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <!--
    <link href="fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Limelight%7CFlamenco%7CFedero%7CYesteryear%7CJosefin+Sans%7CSpinnaker%7CSansita+One%7CHandlee%7CDroid+Sans" media="screen" rel="stylesheet" type="text/css" />
      Typekit fonts require an account and a kit containing the fonts used.
      see https://typekit.com/plans for details.

      <script type="text/javascript" src="//use.typekit.net/YOUR-KIT-ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <title>About Value for Gmail</title>
  </head>
  <body>
		<img src="static/img/envelope-transparent.png" class="envelope">

	<div class="header">

	</div>
    <div id="page-wrapper">


		<div class="container">

			<div class="paper">
				<div class="content">
					<div class="line"></div>
					<p class="headline">About Value</p>
					<div class="body_text"><p >Value was created at the annual <a href="http://2012f.pennapps.com/">PennApps</a> hackathon to try and fix email. </p>


					</br><p>It was created by <a href="http://linkedin.com/pub/nicholas-meyer/47/755/bb7">Nick Meyer</a>, <a href="http://twitter.com/adi_dahiya">Adi Dahiya</a>, <a href = "http://twitter.com/Ceasar_Bautista">Ceasar Bautista</a>, <a href="http://twitter.com/byalicelee">Alice Lee</a>, and <a href= "twitter.com/eddiecohen">Eddie Cohen</a></p>

						</div>
					 </span>

					<img src="static/img/icon_dollar.png" class="value">

					<br style="clear:both;">

	    		</div>

			</div>

		</div>

  </body>
</html>


