<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="static/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <!--    
<link href="fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Limelight%7CFlamenco%7CFedero%7CYesteryear%7CJosefin+Sans%7CSpinnaker%7CSansita+One%7CHandlee%7CDroid+Sans" media="screen" rel="stylesheet" type="text/css" />
      Typekit fonts require an account and a kit containing the fonts used.
      see https://typekit.com/plans for details.

      <script type="text/javascript" src="//use.typekit.net/YOUR-KIT-ID.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <title>Value for Gmail</title>
  </head>
  <body>
		<img src="static/img/envelope-transparent.png" class="envelope">
	
	<div class="header">
		<a href="About.html" class="link_about">About</a>
		</div>
    <div id="page-wrapper">
	
		
		<div class="container">
		
			<div class="paper moveup">
				<div class="content">
					<div class="line"></div>
					<p class="headline">Your time is valuable.</p>
          <p class="subheadline">Prioritize your emails by assigning a real dollar value.</span></p>
				
					<div class="preview">
						<img src="static/img/image-1.png"/>
						<img src="static/img/image.png"/>
					</div>
				
					<div class="install">
						<a href="/install.html"><div class="text">INSTALL</div></a>
					</div>
				
					<img src="static/img/icon_dollar.png" class="value">
				
					<br style="clear:both;">
				
	    		</div>

			</div>
		
		</div>
		
  </body>
</html>
